bitsandbytes
datasets 
loralib 
sentencepiece
scipy
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git@64f63a7df2a02cfd144592d9aa9c871b59258c55
gradio
gsutil
#pip install diffusers transformers accelerate scipy safetensors